.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #ffac24,#ffd780 );
    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-app{
    width: 90vmin;
    aspect-ratio: 3/2;
    background-color: #212226;
    border-radius: 3rem;
    padding: 4rem;
    box-shadow: -2rem 2rem 6rem rgba(0,0,0,0.6);
    position: relative;
    overflow: hidden;
}

.app-heading{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: #ddd;
}

.quote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.quote i {
    font-size: 3rem;
    color: #ddd;
}

.quote-text{
    font-size: clamp(1.6rem, 2cqi, 2.5rem);
    color: #ddd;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0.1rem;
    width: clamp(25rem, 35cqi, 50rem);
}

.quote-author{
    font-family: 'Rouge Script', cursive;
    font-size: 2.4rem;
    color: #888;
    text-align: center;
}

.bxs-quote-right-alt{
    align-self: flex-end;
}

.bxs-quote-right-alt, .bxs-quote-left-alt{
    font-size: 1rem;
    color: #ddd;
}

.buttons{
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 2rem;
}

.btn{
    width: 18rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    font-family: 'Comfortaa',sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ddd;
    cursor: pointer;
}

.btn-new{
    background-image: linear-gradient(to left, #553ddd, #7f69e8);
}

.btn-fav{
    background-image: linear-gradient(to left, #2e6f79, #1b9b96);
}

.btn:active{
    transform: translateY(0.2rem);
}

.circles div{
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
}

.circle1{
    width: clamp(5rem, 10cqi, 16rem);
    background-image: linear-gradient(to top, #ffac24, #ffd780);
    top: -5cqi;
    left: 50%;
}

.circle2{
    width: clamp(2rem, 4cqi, 4rem);
    background-image: linear-gradient(to top, #ffac24, #ffd780);
    bottom: 2cqi;
    left: 3rem;
}

.circle3{
    width: clamp(5rem, 10cqi, 10rem);
    background-image: linear-gradient(to top, #553ddd, #7f69e8);
    top: 50%;
    right: -5cqi;
}

.circle4{
    width: clamp(2rem, 2cqi, 4rem);
    background-image: linear-gradient(to top, #dd133f, #fd4069);
    top: 50%;

}

.fav-icon {
    position: absolute;
    top: 5rem;
    right: 5rem;
    color: #1b9b96;
    cursor: pointer;
    font-size: 4rem;
    text-shadow: -0.3rem 0.5rem 2rem rgba(27,155,150,0.5);
}
.fav-icon:active {
    transform: translateY(0.3rem);
}

.favorites {
    background-image: linear-gradient(to left, #1b9b96,#216f79 );
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    padding: 3rem 7rem 3rem 3rem;
    overflow-y: auto;
}

.btn-close {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-close i {
    font-size: 3rem;
    color: #ddd;
    font-weight: bold;
}

.fav-quote{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.fav-quote-author{
    font-family: 'Rouge Script', cursive;
    text-align: right;
    color: #ddd;
    font-size: 1.8rem;
}

.fav-quote-text {
    font-size: 1.6rem;
    color: #ddd;
}

.fav-quote-delete {
    font-size: 2.5rem;
    color: #f06b5f;
    cursor: pointer;
}

@media (max-width: 850px){
    .quotes-app {
        aspect-ratio: 2/3;
        width: 75vmin;
    }
}

@media (max-width: 550px){
    .quotes-app {
        aspect-ratio: 1/2;
    }
    .buttons {
        flex-direction: column;
        row-gap: 2rem;
    }

    .fav-icon{
        top: 2rem;
        right: 2rem;
    }
}